@model IEnumerable<ParsiBin.ViewModel.AdminModel.SportTypeModel>

@{
    ViewBag.Title = "Index";
}

<h2>لیست نوع مسابقات ورزشی</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnabled)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>        
        <td>            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
